

#container { 
    height: 100%; 
    background-color: #20ce12;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


html,body{
  height: 100%;
  margin: 0;
  overflow: hidden;
}

img{
    animation-duration: 4s;
    animation-iteration-count: 1;
    display: inline-block;
    animation-name: einflug;
    position: absolute;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes einflug {
    0%   {right:-1000px}
    100%  {right:calc(50% - 680px)}
  }