 .button1 {
  margin: 10px;
  padding: 0 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color:
  white;
  text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  box-shadow: 0 0 20px
  #eee;
  border-radius: 10px;
  display: block;
  background-size: 200% auto;
  background-image: linear-gradient(to right,
  mediumseagreen 0%, #61cc3b 51%,
  mediumseagreen 100%);
  border: 0;
  font-size: 22px;
}
.buttonstandort{
background-image: url("Pins/leaf_BackToStandort.png"),;
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}

.button2 {
  margin: 10px;
  padding: 0 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color:
  white;
  text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  box-shadow: 0 0 20px
  #eee;
  border-radius: 10px;
  display: block;
  background-size: 200% auto;
  background-image: linear-gradient(to right,
  mediumseagreen 0%, #61cc3b 51%,
  mediumseagreen 100%);
  border: 0;
  font-size: 22px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

a {
  text-decoration: none;
}

.button:hover {
   background-position: right center;
}

.map {
  position: fixed;
  left: 0px;
  width: 100%;
  height: 100vh;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 87;
  display: flex;
  justify-content: center;
}

.backtostandord {
  position: fixed;
  bottom: 5%;
  left: 3%;
  height: 10%;
  width: 3%;
}
